extends layout-mdl

block content
  #home.mdl-layout__tab-panel.is-active
    section.section--center.mdl-grid.mdl-grid--no-spacing.mdl-shadow--2dp
      .mdl-card.mdl-cell.mdl-cell--12-col
        .mdl-card__supporting-text
          h4 What is Photos Deduper?
          p 
            strong Photos Deduper 
            | is a tool you can use to detect and remove duplicate photos from your Google Photos library.
          p In more recent years, Google Photos has added duplicate detection when photos are first uploaded. 
            | However, that wasn't always the case. You may have many duplicates, and there is 
            a(href="https://support.google.com/photos/thread/3954223?hl=en") not a great way to remove them 
            | without re-uploading your entire collection, which will remove album organization and photo descriptions.
    section.section--center.mdl-grid.mdl-grid--no-spacing.mdl-shadow--2dp
      .mdl-card.mdl-cell.mdl-cell--12-col
        .mdl-card__supporting-text
          h4 Get Started
          p We'll need access to your Google Photos library to get started and look for duplicates. Once we find them, we'll add them to an album called 
            em Duplicate Photos 
            | for you to review.
        .mdl-card__actions
          //- form.inline(method="post" action="/job")
          //-   input(type='hidden', name='_csrf', value=_csrf)
          //-   button.mdl-button(type="submit") Get started
          a.mdl-button(href='/start') Get started
    // section.section--center.mdl-grid.mdl-grid--no-spacing.mdl-shadow--2dp
      .mdl-card.mdl-cell.mdl-cell--12-col
        .mdl-card__supporting-text.mdl-grid.mdl-grid--no-spacing
          h4.mdl-cell.mdl-cell--12-col Details
          .section__circle-container.mdl-cell.mdl-cell--2-col.mdl-cell--1-col-phone
            .section__circle-container__circle.mdl-color--primary
          .section__text.mdl-cell.mdl-cell--10-col-desktop.mdl-cell--6-col-tablet.mdl-cell--3-col-phone
            h5 Lorem ipsum dolor sit amet
            | Dolore ex deserunt aute fugiat aute nulla ea sunt aliqua nisi cupidatat eu. Duis nulla tempor do aute et eiusmod velit exercitation nostrud quis 
            a(href='#') proident minim
            | .
          .section__circle-container.mdl-cell.mdl-cell--2-col.mdl-cell--1-col-phone
            .section__circle-container__circle.mdl-color--primary
          .section__text.mdl-cell.mdl-cell--10-col-desktop.mdl-cell--6-col-tablet.mdl-cell--3-col-phone
            h5 Lorem ipsum dolor sit amet
            | Dolore ex deserunt aute fugiat aute nulla ea sunt aliqua nisi cupidatat eu. Duis nulla tempor do aute et eiusmod velit exercitation nostrud quis 
            a(href='#') proident minim
            | .
          .section__circle-container.mdl-cell.mdl-cell--2-col.mdl-cell--1-col-phone
            .section__circle-container__circle.mdl-color--primary
          .section__text.mdl-cell.mdl-cell--10-col-desktop.mdl-cell--6-col-tablet.mdl-cell--3-col-phone
            h5 Lorem ipsum dolor sit amet
            | Dolore ex deserunt aute fugiat aute nulla ea sunt aliqua nisi cupidatat eu. Duis nulla tempor do aute et eiusmod velit exercitation nostrud quis 
            a(href='#') proident minim
            | .
        .mdl-card__actions
          a.mdl-button(href='#') Read our features
  #faq.mdl-layout__tab-panel
    section.section--center.mdl-grid.mdl-grid
      .mdl-cell.mdl-cell--12-col
        h4 Features
        |               Minim duis incididunt est cillum est ex occaecat consectetur. Qui sint ut et qui nisi cupidatat. Reprehenderit nostrud proident officia exercitation anim et pariatur ex.
        ul.toc
          h4 Contents
          a(href='#lorem1') Lorem ipsum
          a(href='#lorem2') Lorem ipsum
        h5#lorem1 Lorem ipsum dolor sit amet
        |               Excepteur et pariatur officia veniam anim culpa cupidatat consequat ad velit culpa est non.
        ul
          li Nisi qui nisi duis commodo duis reprehenderit consequat velit aliquip.
          li
            | Dolor consectetur incididunt in ipsum laborum non et irure pariatur excepteur anim occaecat officia sint.
          li Lorem labore proident officia excepteur do.
        p
          | Sit qui est voluptate proident minim cillum in aliquip cupidatat labore pariatur id tempor id. Proident occaecat occaecat sint mollit tempor duis dolor cillum anim. Dolore sunt ea mollit fugiat in aliqua consequat nostrud aliqua ut irure in dolore. Proident aliqua culpa sint sint exercitation. Non proident occaecat reprehenderit veniam et proident dolor id culpa ea tempor do dolor. Nulla adipisicing qui fugiat id dolor. Nostrud magna voluptate irure veniam veniam labore ipsum deserunt adipisicing laboris amet eu irure. Sunt dolore nisi velit sit id. Nostrud voluptate labore proident cupidatat enim amet Lorem officia magna excepteur occaecat eu qui. Exercitation culpa deserunt non et tempor et non.
        p
          | Do dolor eiusmod eu mollit dolore nostrud deserunt cillum irure esse sint irure fugiat exercitation. Magna sit voluptate id in tempor elit veniam enim cupidatat ea labore elit. Aliqua pariatur eu nulla labore magna dolore mollit occaecat sint commodo culpa. Eu non minim duis pariatur Lorem quis exercitation. Sunt qui ex incididunt sit anim incididunt sit elit ad officia id.